 @import url(https://fonts.googleapis.com/css?family=Tangerine);
:root {
  --font-sans: 'Noto Sans', sans-serif;
  --font-serif: 'Noto Serif', serif;
  --font-display: 'Abril Fatface', cursive;
  --font-handwriting: 'Sacramento', cursive;
  --font-mono: 'Ubuntu Mono', monospace;
  --font-default: var(--font-display);

  --font-size-base: 1vw;
  --line-height: 100%;

  --font-color-first: #FFF;
  --font-color-second: #BBB;
  --font-color-third: #222;

  --theme-color-first: #0F4C81;
  --theme-color-second: #658DC6;
  --theme-color-third: #B5C7D3;
}

html {}

body {
  font-family: var(--font-default);
  color: var(--font-color-second);
  font-size: var(--font-size-base);
  padding: 10px;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  box-sizing: border-box;
  position: absolute;
  background-color: #000;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
  color: var(--font-color-second);
}
