:root {
  --font-sans: 'Noto Sans', sans-serif;
  --font-serif: 'Noto Serif', serif;
  --font-display: 'Staatliches', cursive;
  --font-handwriting: 'Great Vibes', cursive;
  --font-mono: 'Courier Prime', monospace;
  --font-default: var(--font-sans);
  --line-height: 100%;
  --font-color-first: #FFF;
  --font-color-second: #BBB;
  --font-color-third: #222;
  --font-base-size: 20px;
  --theme-color-first: #0F4C81;
  --theme-color-second: #658DC6;
  --theme-color-third: #B5C7D3;
}

html {
  margin:0;
  padding:0;
}

body {
  font-family: var(--font-default);
  color: var(--font-color-second);
  font-size: var(--font-base-size);
  box-sizing: border-box;
  position: fixed;
  background-color: #000;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  overflow: hidden;
  margin: 0;
  text-shadow: 2px 2px 4px #000000;

}
