# mirrorize
components/*
client/clients/*
!client/clients/default/

# user custom
config.js
.env


# SSL
*.key
*.pem
*.crt
*.csr
*.csr.cnf
*.ext
*.srl

# Fonts
*.ttf
*.woff
*.woff2
fonts.css

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# dev dependency
.vscode
_*


# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# Misc
.DS_Store
package-lock.json
