.layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  gap: 8px 8px;
  place-items: stretch stretch;
  place-content: stretch stretch;
  grid-auto-columns: 0;
  grid-auto-rows: 0;
  grid-auto-flow: row;
  grid-template-columns:
    [full-start left-start lefthalf-start]
    minmax(0, 1fr)
    [widecenter-start]
    minmax(0, 1fr)
    [center-start left-end]
    minmax(0, 1fr)
    [centerline lefthalf-end righthalf-start]
    minmax(0, 1fr)
    [center-end right-start]
    minmax(0, 1fr)
    [widecenter-end]
    minmax(0, 1fr)
    [full-end right-end righthalf-end]
  ;
  grid-template-rows: minmax(0, 1fr) repeat(4, minmax(0, 2fr)) minmax(0, 1fr);
  grid-template-areas:
    "A0 A1 A2 A3 A4 A5"
    "B0 B1 B2 B3 B4 B5"
    "C0 C1 C2 C3 C4 C5"
    "X0 X1 X2 X3 X4 X5"
    "Y0 X1 Y2 Y3 Y4 Y5"
    "Z0 Z1 Z2 Z3 Z4 Z5";
}

@media (max-aspect-ratio: 1/1) {
  .grid {
    grid-template-rows: minmax(0, 1fr) repeat(8, minmax(0, 2fr)) minmax(0, 1fr);
    grid-template-areas:
      "A0 A1 A2 A3 A4 A5"
      "B0 B1 B2 B3 B4 B5"
      "C0 C1 C2 C3 C4 C5"
      "D0 D1 D2 D3 D4 D5"
      "E0 E1 E2 E3 E4 E5"
      "V0 V1 V2 V3 V4 V5"
      "W0 W1 W2 W3 W4 W5"
      "X0 X1 X2 X3 X4 X5"
      "Y0 X1 Y2 Y3 Y4 Y5"
      "Z0 Z1 Z2 Z3 Z4 Z5";

  }
}

.pos_full {
  grid-column: righthalf;
}




.grid > * {
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}

.background {
  z-index: 0;
  opacity: 0.9;
}

.main {
  z-index: 10;
}

.foreground {
  z-index: 20;
  opacity: 0.8;
}

.leftBox {
  grid-area: A4 / A4 / Z5 / A5;
  background-color: #333;
  display: flex;
  flex-direction: column;
}
